body {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #f5edf2;
}

header, footer {
    background-color: #ff4081;
    color: #0b0101;
    margin: 0;
}


h1, h3 {
    color: #0b0101; 
}


.content {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2417c;
}


.page-container {
    display: flex;
    flex-direction: column;
    min-height: 50px;

}


section {
    width: 100%; 
    height: auto    ; 
}


ul, nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f76294;
}


li {
    float: left;
}


li a, a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

a {
    color: #f2f2f2;
}


li a:hover {
    background-color: #a11379;
}


address {
    display: block;
    font-style: italic;
}

img {
    max-width: 80%;
    margin: 1rem;

}


.product-image {
    max-width: 100px;
    max-height: auto;
    margin-right: 10px;
}


h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}


p {
    margin-bottom: 10px;
    text-align: center;
    color: #100c0d;
    font-family:Georgia, 'Times New Roman', Times, serif
}


.some-container {
    text-align: center; 
}

.product img {
    width: 300px;          
    height: 300px;          
    object-fit: cover;      
}


#cart-menu {
    max-height: 400px;
    overflow-y: auto;
    position: fixed;
    top: 90px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
}

#cart-icon {
    position: relative;
    color: #000;
}




 